.logo {
	.image {
		display:block;
		margin:61px auto 0;
	}	
	.account {
		text-align: center;
		color:#4158F6;
		margin-top:10px;
		cursor:pointer;
		text-transform:uppercase;
	}
		
	.title {
		font-family: Roboto;
		text-align: center;
		cursor:pointer;
		text-transform:uppercase;
	}
}